BIFROST_ENDPOINT='wss://'
BIFROST_MULTISIG_ADDRESS='dPnzjQFo5Ygzixtv6rFs4Yn3Qhv8JbLBHQkTjgBX1yoh3Dc'
BIFROST_OTHER_SIGNATORIES='ex3LnZb7o3XEyCn7kycUS2Aho3QoHDk5xcTzRKs4WwY1MvQ|ezhQxhdSnw9sacSeYZwU6UTXvinnb6bWjsoXRcyLv84JY7b'
BIFROST_MULTISIG_THRESHOLD=2
SIGNER_ADDRESS='gXCcrjjFX3RPyhHYgwZDmw8oe4JFpd5anko3nTY8VrmnJpe'
SIGNER_MNEMONIC='bottom drive obey lake curtain smoke basket hold race lonely fit walk//Alice'
